/**
 * This file contains all the variables and settings for the scss reference.
 *
 * @Author: Denmark Jay Mago
 * @AuthorURI: https://github.com/denmarkjay
 */
 
 $theme-colors: (
  "primary": #5d8c92,
  "danger": #ff4136
);

$font-body: "Montserrat", sans-serif;
$font-heading: "Crimson Text", serif;